extends ../config/template
append config
  -pageTitle = 'Benefits'

block main
  section.page-title 
    h1(data-aos="fade-right") BENEFITS
    p(data-aos="fade-left") Improve your health with EZ Oats.
  section.section_benefits#benefits
    .slider-container#slider
      each slide, i in benefits
        if i ===0
          .slide.active
            .image
              img(src=`img/${slide.img}.jpg`)#img
              .slider-arrow.slide-left.left
                img(src="img/arrow-left.png", alt="").left.arrow
              .slider-arrow.slide-right.right
                img(src="img/arrow-right.png", alt="").right.arrow
            .slide-text
              h3=slide.title
              p=slide.description
        else
          .slide
            .image
              img(src=`img/${slide.img}.jpg`)
              .slider-arrow.slide-left.left
                img(src="img/arrow-left.png", alt="").left.arrow
              .slider-arrow.slide-right.right
                img(src="img/arrow-right.png", alt="").right.arrow
            .slide-text
              h3=slide.title
              p=slide.description
    footer.ben
      span © 2021, Ez Oats by Cinthya - 
      a(href="#") Refund Policy
  //- section.slider-page
    //- .slide-container#slider
    //-   each slide, i in benefits
    //-     if i ===5
    //-       .slide.active
    //-         img(src=`img/${slide.img}.jpg`)#img
    //-         .slide-text
    //-           h3=slide.title
    //-           p=slide.description
    //-     //- else
    //-     //-   .slide
    //-     //-     img(src=`img/${slide.img}.jpg`)
    //-     //-     .slide-text
    //-     //-       h3=slide.title
    //-     //-       p=slide.description
    //-   .slider-arrow.slide-left.left
    //-     img(src="img/arrow-left.png", alt="").left
    //-   .slider-arrow.slide-right.right
    //-     img(src="img/arrow-right.png", alt="").right
    //- footer.ben
    //-   span © 2021, Ez Oats by Cinthya - 
    //-   a(href="#") Refund Policy
  