block config
  include variables

include ../includes/mixins

-let classBody = pageTitle.toLowerCase().replace(' ','-')

doctype html
html(lang="es")
  head
    title= siteName
    meta(charset="utf-8")
    <meta http-equiv="Expires" content="0">

    <meta http-equiv="Last-Modified" content="0">

    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">

    <meta http-equiv="Pragma" content="no-cache">
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content=twitterAccount)
    meta(property="og:title" content=siteName)
    meta(property="og:description" content=pageDescription)
    meta(property="og:image" content=pageImage)
    link(rel="stylesheet", href="assets/fonts/stylesheet.css")
    link(rel="stylesheet", href="assets/css/glide.core.min.css")
    link(rel="stylesheet", href="assets/css/vegas.min.css")
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    link(rel="stylesheet" href="css/styles.css")
    link(rel="shortcut icon" href="img/favicon.png")
    script(src="assets/js/zepto.js")
    script(src="assets/js/vegas.min.js")
  body(class=classBody)
    header.main-header#mainHeader(data-aos="fade-down")
      include ../includes/header
    main
      block main
    //- footer.main-footer#main-footer
    //-   include ../includes/footer
    //- .loading#loading
    //-   img(src="img/loading-page1.svg" alt="Loading Page")

    script(src="js/scripts-min.js")

